{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="center-block col-md-6" style="float: none">

    <h2>{% trans "Change Password" %}</h2>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}

        <div class="form-group {% if form.oldpassword.errors %}has-error{% endif %}" role="alert">
        {% if form.oldpassword.errors %}
          <label for="inputoldpassword" class="control-label">{{ form.oldpassword.errors.as_text }}</label>{% endif %}
        <input type="password" name="oldpassword" id="inputoldpassword" class="form-control" placeholder="Hasło"></div>

        <div class="form-group {% if form.password1.errors %}has-error{% endif %}" role="alert">
        {% if form.password1.errors %}
          <label for="inputPassword1" class="control-label">{{ form.password1.errors.as_text }}</label>{% endif %}
        <input type="password" name="password1" id="inputPassword1" class="form-control" placeholder="Hasło"></div>

        <div class="form-group {% if form.password2.errors %}has-error{% endif %}" role="alert">
        {% if form.password2.errors %}
          <label for="inputpassword2" class="control-label">{{ form.password2.errors.as_text }}</label>{% endif %}
        <input type="password" name="password2" id="inputpassword2" class="form-control" placeholder="Powtórz Hasło"></div>


        <button class="btn btn-primary btn-lg btn-block" type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
    </div>
{% endblock %}
