{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load url from future %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="center-block col-md-6" style="float: none">
    <h2>{% trans "Password Reset" %}</h2>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>Jeśli zapomniałeś jakie jest Twoje hasło, wypełnij poniższy formularz by je zresetować. Link do zmiany hasła zostanie wysłany na podany adres e-mail.</p>
    
    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        <div class="form-group {% if form.email.errors %}has-error{% endif %}" role="alert">
        {% if form.email.errors %}<label for="email" class="control-label">{{ form.email.errors.as_text }}</label>{% endif %}
        <input type="email" id="email" name="email" class="form-control" placeholder="E-mail" autofocus></div>
        <input class="btn btn-primary btn-lg btn-block" type="submit" value="Zresetuj hasło" />
    </form>
    
    <p>W razie problemów z odzyskiwaniem hasła skontaktuj się z administracją.</p>

</div>
{% endblock %}

{% block extra_body %}
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}
