{% extends "base.html" %}
{% block title %}Streamy{% endblock %}

{% block content %}


<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#riten" aria-controls="riten" role="tab" data-toggle="tab">riten</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="riten">
    	<div class="embed-responsive embed-responsive-16by9">
			<iframe src="http://www.twitch.tv/ritenshow/embed" frameborder="0" scrolling="no" ></iframe><a href="http://www.twitch.tv/ritenshow?tt_medium=live_embed&tt_content=text_link" style="padding:2px 0px 4px; display:block; font-weight:normal; font-size:10px;text-decoration:underline;">Watch live video from RiteNshow on www.twitch.tv</a></div>

    </div>
  </div>

</div>
{% endblock %}